<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>testutils</title>
</head>
<body>
 <h1> welcome to tet analyzer eneter your text here</h1>
<form action='/analyze' method='get'>
     <textarea name='text' style='margin: 0px; width: 1296px; height: 183px;'></textarea> <br>
     <input type="checkbox" name="removepunc"> remove punctuations <br>
     <input type="checkbox" name="fullcaps"> UPPER CASE <br>
     <input type="checkbox" name="newlineremover"> NEW LINE REMOVER<br>
     <input type="checkbox" name="extraspaceremover"> NEW LE REMOVER<br>
     <input type="checkbox" name="charcount"> char counter<br>
    <button type='submit'> ANALYZE TEXT</button>
</form></body>
</html>